html,body{
    margin: 0;
    padding: 0;
}

.header-area{
    background-image: url(../images/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-content{
    display: flex;
}

.header-link{
    display: flex;
    list-style-type: none;
}

.main-area{
    text-align: center;
    font-size: 70px;
    color: #000;
}
.description-all{
    display: flex;
}