html,body{
    margin: 0;
    padding: 0;
}

.header-area{
    position: sticky;
    height: 110px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 40px;
    background-color: #00106b;
}

.header-title a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ff683a;
}

.header-content{
    justify-content: space-between;
    display: flex; 
    align-items: center;
    height: 100%; 
    padding: 0 20px; 
}

.header-link{
    display: flex;
    list-style-type: none;
}

.header-link a{
    text-decoration: none;
    color: #ff683a;
}

.header-link li{
    margin: 0 20px;
}

.main-area{
    text-align: center; 
    height: 100%;
    padding: 20px;
    color: #000;
}

.summary{
    background-color: #e7dfea;
}

.summary p{
    font-size: 28px;
}


.description-title{
    font-weight: bold;
}

.subscription{
    background-color: #d6ece3; 
}

.description-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.description-all {
    display: flex;
    justify-content: center;
    gap: 50px;
 
}

.description-all p{
    font-size: 36px;
    font-weight: bold;
}

.description-vip, .description-free {
    flex: 1;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px; 
    max-width: 300px; 
    box-sizing: border-box;
}

.description-vip ul,
.description-free ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: left;
}

.description-vip li, .description-free li {
    margin: 10px 0;
    font-size: 16px;
}

footer{
    text-align: center;
    padding: 50px;
    background-color: black;
}

footer p{
    color: white;
}

footer p::selection{
    color: #ff6325;
}